body {
  background-image: url("https://images.squarespace-cdn.com/content/v1/58f8719c20099e4ee8f00783/1561365674216-51KS94DNSF5TCYDN7WWW/ke17ZwdGBToddI8pDm48kEpF2lptGuxDReiKcVMPbmR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0ooWhOa5cxQSJsU3rXf8luVi8CZsBTpJO3RpsufHUTIS6zFvlOde1o12z2ix0Te8jg/Wallpaper-Chloe-Hall-July-19-Small-File.jpg?format=1500w");
}

p {
  font-size: 18px;
}

h1 {
  color: white;
}

img {
  width: 250px;
  height: 250px;
}

h4 {
  text-align: center;
  color: #99b5b9;
}

h2 {
  color: #91a5a1;
}

#portfolioTitle {
  margin-left: 123px;
  margin-top: 45px;
  margin-bottom: 15px;
  color: #21524d;
}

.portfolio-links {
  text-align: center;
  margin-bottom: 0;
}

#portfolioImg {
  color: black;
  font-size: 12px;
  color: #91a5a1;
  font-family: serif;
}

a {
  color: #91a5a1;
}

.contactMe {
  text-align: right;
  padding-right: 10px;
  color: #91a5a1;
}

#rightDivs {
  margin-left: 40px;
}
#leftDivs,
#rightDivs {
  border-style: double;
  color: #99b5b9;
  border-width: 9px;
  background-color: white;
}

.bgOlive {
  background: #99b5b9;
}

.bgFlowers {
  background-color: #99b5b9;
}

#contact-me {
  background-color: white;
  margin-left: 460px;
  padding-top: 5px;
  padding-bottom: 2px;
}

@media (max-width: 768px) {
  #rightDivs {
    margin-left: 2px;
    margin-top: 45px;
  }
  #contact-me {
    margin-left: 200px;
  }
}

@media (max-width: 400px) {
  #leftDivs {
    margin-left: 48px;
  }
  #rightDivs {
    margin-left: 48px;
    margin-top: 20px;
  }

  #contact-me {
    margin-left: 0px;
  }
}
